
<form  [formGroup]="form" class="container"  (ngSubmit)="onSubmit(form.value)">
  <label for="name">Name</label>
<input type="text" [formControl]="form.controls['name']" name="name" class="form-control"> 
  <label for="salary">Salary</label>
  <input type="text" name="salary" class="form-control"  [formControl]="form.controls['salary']">
  <label for="teamName">TeamName</label>
  <input type="text" name="teamName" class="form-control"  [formControl]="form.controls['teamName']">
  <label for="countryName">Country</label>
  <input type="text" name="countryName" class="form-control"  [formControl]="form.controls['countryName']">
  <button type="submit" class="btn btn-primary"   >Submit</button>
</form>

     
    

      


      
   

